<div class="container-about">
    <h2>Contato</h2>

    <div class="container-about-us">
        <div class="about-us">
            <p> Somos apasionados del arte y de los libros como su forma de acercarlo a todos.</p>
            <p> Queremos que nuestra librería sea, más que un lugar para sólo comprar libros, un espacio de reunión de diversas formas de expresión que acompañen al lector en la vivencia de experiencias únicas.</p>
            <p>Contáctenos sobre cualquier cosa relacionada con nuestra empresa o nuestros servicios.</p>
        </div>

        <form class="form-contacto">
            <div class="mb-3">
            <label for="email" class="form-label">E-mail</label>
            <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">Nunca compartiremos su correo con nadie más</div>
            </div>
            <div class="mb-3">
            <label for="examplenombre" class="form-label">Nombre</label>
            <input type="password" class="form-control" id="examplenombre">
            </div>           
            <div>
                <textarea class="form-control" placeholder="Escribinos por aca..." id="floatingTextarea"></textarea>
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Recibir novedades y descuentos</label>
            </div>
            <button type="submit" class="btn btn-dark">Submit</button>
        </form>
    </div>
</div>    