<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a [routerLink]="['/']" class="navbar-brand mb-0 h1">{{title}}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Books
          </a>
          <ul class="dropdown-menu">           
            <li><a [routerLink]="['/']" class="dropdown-item">Top 10</a></li>
            <li><a [routerLink]="['books/novedades']" class="dropdown-item">Novedades</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a [routerLink]="['/']" class="dropdown-item">Ver todos</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a [routerLink]="['carrito']" class="nav-link active" aria-current="page">Carrito de compras</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['about']" class="nav-link" href="#">About us</a>
        </li>
      </ul>      
    </div>
  </div>
</nav>
<div class="container-fluid">
  <div class="row">
    <div class=" col-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<footer class="footer">{{title}}, &copy; copyright 2022</footer>