table {
    margin: 2% 0;
}

table tr, table td{
    padding: 15px 20px;
}

table tr{
    border: 2px solid;
    border-color: rgb(68, 68, 68);
}

.header-table{
    background-color: rgb(68, 68, 68);
    color: #ffffff;
}

.container-finalizar-compra{
    float: right;
    margin: 2%;
}
